<h2>Lista simples Usuarios</h2>

<div>
  <h1>Lista de estudantes</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id}}</td>
        <td>{{ user.firstName}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.gender}}</td>
        <td><button mat-button (click)="gotToDetail(user)">Ir para detalhe</button></td>
      </tr>
    </tbody>
  </table>
</div>
